<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New mod</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <img src="/img/17085531.png">
        <ul>
            <li><a href="/">Hry</a></li>
            <li><a href="/news">Novinky</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/profile">Profil</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/create">Create</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/register">Register</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" style="display:inline">
                <button type="submit" class="btn btn-link">Logout</button>
            </form>
        </ul>
    </nav>
</header>

<main>
    <h1>Create new mod:</h1>
    <form method="post" th:action="@{/mods/create}" enctype="multipart/form-data">
        <input name="author" th:value="${#authentication.name}" type="hidden"/>
        <label for="modName">Mod Name: </label>
        <input id="modName" name="modName" placeholder="My Amazing mod" required type="text"/>
        <br>
        <label for="thumbnail">Initial image:</label>
        <input type="file" id="thumbnail" name="thumbnail" value="Thumbnail" accept="image/*">
        <br>
        <label for="modName">Mod Description: </label>
        <textarea id="edit_description" placeholder="My amazing mod adds..." name="description" required></textarea>
        <br>
        <label for="gameId">Game:</label>
        <select id="gameId" name="gameId" required>
            <option disabled selected value="">Select a game</option>
            <option th:each="game : ${games}" th:text="${game.name}" th:value="${game.id}"></option>
        </select>
        <br>
        <input class="submit" type="submit" value="Create Mod"/>
    </form>
</main>
<footer>
    <p>&copy; 2023 Neksus. Práva nevyhrazena :(</p>
</footer>
</body>
</html>