<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <img src="/img/17085531.png">
        <ul>
            <li><a href="/">Hry</a></li>
            <li><a href="/news">Novinky</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/profile">Profil</a></li>
            <li><a href="/create">Create</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/register">Register</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" style="display:inline">
                <button type="submit" class="btn btn-link">Logout</button>
            </form>
        </ul>
    </nav>
</header>
<main class="login-container">
    <div class="login-section">
        <form method="post" th:action="@{/login}">
            <label for="email">Email: </label>
            <input type="email" id="email" name="username" required>
            <br>
            <label for="password">Heslo: </label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="LOGIN" class="submit">
        </form>
    </div>
    <div class="image-section">
        <img src="img/big-image.jpg" alt="Big Image">
    </div>
</main>
</body>
</html>
