<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <img src="/img/17085531.png">
        <ul>
            <li><a href="/">Hry</a></li>
            <li><a href="/news">Novinky</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/profile">Profil</a></li>
            <li><a href="/create">Create</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/register">Register</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Login</h1>
    <form method="post" th:action="@{/login}">
        <div>
            <label>Email:</label>
            <input name="username" required type="email"> <!-- Change name attribute to "username" -->
        </div>
        <div>
            <label>Password:</label>
            <input name="password" required type="password">
        </div>
        <button class="submit" type="submit">Login</button>
    </form>
</main>
</body>
</html>
