<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New mod</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <img src="/img/17085531.png">
        <ul>
            <li><a href="/">Hry</a></li>
            <li><a href="/news">Novinky</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/profile">Profil</a></li>
            <li><a href="/create">Create</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/register">Register</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Mods</h1>
    <section id="mod_list">
        <div class="mod" th:each="mods : ${mods}">
            <a th:href="@{'/games/' + ${mods.gameId} + '/' + ${mods.modId}}" th:text="${mods.modName}">
                <h2 th:text="${mods.modName}"></h2>
                <p th:text="${mods.description}"></p>
                <p th:text="${'Author: ' + mods.author}"></p>
                <p th:text="${'Published Date: ' + mods.datePublished}"></p>
                <p th:text="${'Track Count: ' + mods.trackCount}"></p>
            </a>
        </div>
    </section>
</main>
<footer>
    <p>&copy; 2023 Neksus. Práva nevyhrazena :(</p>
</footer>
</body>
</html>
